###################################
##### Global Protection Rule ######
###################################
# NOTE: This rule is overriden by the more specific rules below. This is the catch-all rule for all files not covered by the more specific rules below
*                                              @hashgraph/developer-advocates

#########################
#####  Core Files  ######
#########################

# NOTE: Must be placed last to ensure enforcement over all other rules

# Protection Rules for Github Configuration Files and Actions Workflows
/.github/                                       @hashgraph/release-engineering @hashgraph/release-engineering-managers
/.github/workflows/                             @hashgraph/devops-ci @hashgraph/devops-ci-committers @hashgraph/release-engineering-managers

# Self-protection for root CODEOWNERS files (this file should not exist and should definitely require approval)
/CODEOWNERS                                      @hashgraph/release-engineering @hashgraph/release-engineering-managers

# Protect the repository root files
/README.md                                      @hashgraph/release-engineering @hashgraph/release-engineering-managers  @hashgraph/developer-advocates
**/LICENSE                                      @hashgraph/release-engineering @hashgraph/release-engineering-managers

# Gradle project files and inline plugins
/gradle/                                        @hashgraph/release-engineering @hashgraph/release-engineering-managers @hashgraph/developer-advocates
gradlew                                         @hashgraph/release-engineering @hashgraph/release-engineering-managers @hashgraph/developer-advocates
gradlew.bat                                     @hashgraph/release-engineering @hashgraph/release-engineering-managers @hashgraph/developer-advocates
**/build-logic/                                 @hashgraph/release-engineering @hashgraph/release-engineering-managers @hashgraph/developer-advocates
**/gradle.*                                     @hashgraph/release-engineering @hashgraph/release-engineering-managers @hashgraph/developer-advocates
**/*.gradle.*                                   @hashgraph/release-engineering @hashgraph/release-engineering-managers @hashgraph/developer-advocates

# Git Ignore definitions
**/.gitignore                                   @hashgraph/release-engineering @hashgraph/release-engineering-managers  @hashgraph/developer-advocates
**/.gitignore.*                                 @hashgraph/release-engineering @hashgraph/release-engineering-managers  @hashgraph/developer-advocates
