# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# local environment
.env.local
.env.*.local
.env
.env.production

.DS_Store
node_modules
/dist

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.gradle/
*/build/
hedera-nft-auction-demo-java-node/TODO.txt
*/dist/
hedera-nft-auction-demo-java-node/initDemo.json

.DS_Store
node_modules
/dist

# Vue Browser Extension Output
*.pem
*.pub
*.zip
/artifacts
