# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# local environment
.env.local
.env.*.local
.env
.env.production

.DS_Store
node_modules
/dist

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.gradle/
*/build/
*/dist/
initDemo.json

.DS_Store
node_modules
/dist

# Vue Browser Extension Output
*.pem
*.pub
*.zip
/artifacts
docker-files/postgres-data
docker-files/sample-files/initDemo.json
hedera-nft-auction-demo-java-node/src/integration-test/resources/.env.integration
hedera-nft-auction-demo-java-node/src/testIntegration/resources/.env.integration
hedera-nft-auction-demo-java-node/src/testSystem/resources/.env.system
hedera-nft-auction-demo-javascript-client/.next
hedera-nft-auction-demo-java-node/accountsFile.txt
hedera-nft-auction-demo-java-node/AuctionSetup.yaml
docker-files/nginx-certs/cert.crt
docker-files/nginx-certs/cert.key
hedera-nft-auction-demo-java-node/rest-load-test/AssertionResults.xml
hedera-nft-auction-demo-java-node/rest-load-test/GraphResults.csv
hedera-nft-auction-demo-java-node/rest-load-test/runtest.sh
hedera-nft-auction-demo-java-node/rest-load-test/SummaryReport.csv
hedera-nft-auction-demo-java-node/rest-load-test/AssertionResults.xml
hedera-nft-auction-demo-java-node/rest-load-test/GraphResults.csv
hedera-nft-auction-demo-java-node/rest-load-test/runtest.sh
hedera-nft-auction-demo-java-node/rest-load-test/SummaryReport.csv
