version: "3"
services:
  postgres-compiled:
    container_name: nft-auction-postgres-compiled
    build:
      context: docker-postgres
    restart: unless-stopped
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=password
    expose:
      - "5433"
    ports:
      - "5433:5433"
    command: -p 5433
    volumes:
      - ./docker-files/postgres-data:/var/lib/postgresql/data
    profiles:
      - compile

  postgres-image:
    container_name: nft-auction-postgres-image
    image: ghcr.io/hashgraph/hedera-nft-auction-demo/nft-auction-postgres:latest
    pull_policy: always
    restart: unless-stopped
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=password
    expose:
      - "5433"
    ports:
      - "5433:5433"
    command: -p 5433
    volumes:
      - ./docker-files/postgres-data:/var/lib/postgresql/data
    profiles:
      - image

  node-compiled:
    container_name: nft-auction-node-compiled
    build:
      context: hedera-nft-auction-demo-java-node
    restart: unless-stopped
    environment:
      # Database connection
      - DATABASE_URL=postgresql://postgres-compiled:5433/postgres
      - DATABASE_USERNAME=postgres
      - DATABASE_PASSWORD=password
      - POOL_SIZE=10
      # Run auction node only
      - AUCTION_NODE=true
      - REST_API=false
      - ADMIN_API=false
    env_file:
      - docker-files/.env
    depends_on:
      - postgres-compiled
    volumes:
      - ./docker-files:/demo
    profiles:
      - compile

  node-image:
    container_name: nft-auction-node-image
    image: ghcr.io/hashgraph/hedera-nft-auction-demo/hedera_nft_auction_java_node:latest
    pull_policy: always
    restart: unless-stopped
    environment:
      # Database connection
      - DATABASE_URL=postgresql://postgres-image:5433/postgres
      - DATABASE_USERNAME=postgres
      - DATABASE_PASSWORD=password
      - POOL_SIZE=10
      # Run auction node only
      - AUCTION_NODE=true
      - REST_API=false
      - ADMIN_API=false
    env_file:
      - docker-files/.env
    depends_on:
      - postgres-image
    volumes:
      - ./docker-files:/demo
    profiles:
      - image

  rest-compiled:
    container_name: nft-auction-node-api-compiled
    build:
      context: hedera-nft-auction-demo-java-node
    restart: unless-stopped
    environment:
      # Run API only
      - REST_API=true
      - ADMIN_API=true
      - AUCTION_NODE=false
      # Database connection
      - DATABASE_URL=postgresql://postgres-compiled:5433/postgres
      - DATABASE_USERNAME=postgres
      - DATABASE_PASSWORD=password
      - POOL_SIZE=10
      # REST API Ports
      - API_PORT=8081
      - API_VERTICLE_COUNT=16
      - ADMIN_API_PORT=8082
      - ADMIN_API_VERTICLE_COUNT=1
    env_file:
      - docker-files/.env
    ports:
      - "8081:8081"
# comment to hide the admin api outside the docker component (recommended in production)
      - "8082:8082"
    depends_on:
      - postgres-compiled
    volumes:
      - ./docker-files:/demo
    profiles:
      - compile

  rest-image:
    container_name: nft-auction-node-api-image
    image: ghcr.io/hashgraph/hedera-nft-auction-demo/hedera_nft_auction_java_node:latest
    pull_policy: always
    restart: unless-stopped
    environment:
      # Run API only
      - REST_API=true
      - ADMIN_API=true
      - AUCTION_NODE=false
      # Database connection
      - DATABASE_URL=postgresql://postgres-image:5433/postgres
      - DATABASE_USERNAME=postgres
      - DATABASE_PASSWORD=password
      - POOL_SIZE=10
      # REST API Ports
      - API_PORT=8081
      - API_VERTICLE_COUNT=16
      - ADMIN_API_PORT=8082
      - ADMIN_API_VERTICLE_COUNT=1
    env_file:
      - docker-files/.env
    ports:
      - "8081:8081"
      # comment to hide the admin api outside the docker component (recommended in production)
      - "8082:8082"
    depends_on:
      - postgres-image
    volumes:
      - ./docker-files:/demo
    profiles:
      - image

  ui-compiled:
    container_name: nft-auction-ui-compiled
    build:
      context: hedera-nft-auction-demo-javascript-client
    restart: unless-stopped
    env_file:
      - docker-files/.env
    ports:
      - "8080:3000"
    depends_on:
      - rest-compiled
    profiles:
      - compile

  ui-image:
    container_name: nft-auction-ui-image
    image: ghcr.io/hashgraph/hedera-nft-auction-demo/nft-auction-demo-ui:latest
    pull_policy: always
    restart: unless-stopped
    ports:
      - "8080:8080"
    depends_on:
      - rest-image
    profiles:
      - image
