# The operator id/auctionKey are used to query the hedera network
# It is also used to set the submit auctionKey for the auction topic
# and also for creating the auction account, submitting auction creation messages to the topic
# and optionally creating a token to auction, then transferring it to the auction account

OPERATOR_ID=0.0.xxxxxx
OPERATOR_KEY=302.....
NETWORK=testnet

# Run the REST API true/false
REST_API=true
API_PORT=8081
API_VERTICLE_COUNT=3

# API key for admin functions (random string or uuid), if not set the admin api is disabled
X_API_KEY=
ADMIN_API_PORT=8082
ADMIN_API_VERTICLE_COUNT=1
# We use IPFS storage using [nft.storage](https://nft.storage) integration.
# You can create your API key on https://nft.storage and add it to your .env file to enable IPFS upload._
NFT_STORAGE_API_KEY=

HTTPS_KEY_OR_PASS=../docker-files/key.pem
HTTPS_CERTIFICATE=../docker-files/cert.pem

# Run the Auction Node true/false
AUCTION_NODE=true

REFUND_THREADS=20

TRANSFER_ON_WIN=true

# auction topic details
TOPIC_ID=

# mirror node detail
# the mirror provider may be hedera (support kabuto or dragonglass will come later)
MIRROR_PROVIDER=hedera
MIRROR_QUERY_FREQUENCY=10000

# Database information for transaction and event logging
DATABASE_URL=postgresql://localhost:5432/
POSTGRES_DB=test
POSTGRES_USER=test
POSTGRES_PASSWORD=test

# REST Mirror urls
REST_HEDERA_MAINNET=mainnet-public.mirrornode.hedera.com
REST_HEDERA_TESTNET=testnet.mirrornode.hedera.com
#REST_HEDERA_PREVIEWNET=previewnet.mirrornode.hedera.com
REST_HEDERA_PREVIEWNET=162.222.182.83
