# The operator id/key are used to query the hedera network
# It is also used to set the submit key for the auction topic
# and also for creating the auction account, submitting auction creation messages to the topic
# and optionally creating a token to auction, then transferring it to the auction account

OPERATOR_ID=0.0.xxxx
OPERATOR_KEY=302....

# network may be previewnet, testnet or mainnet
NETWORK=testnet

# Path to Client API for the JavaScript UI (e.g. https://localhost:8081/v1)
NEXT_PUBLIC_BASE_API_URL=

# Operator of the node (shows in the UI if set)
NODE_OWNER=

# auction topic details
TOPIC_ID=

# API key for admin functions, if not set the admin api is disabled
X_API_KEY=

# Database information for transaction and event logging
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=nftauction

# We use IPFS storage using [nft.storage](https://nft.storage) integration.
# You can create your API key on https://nft.storage and add it to your .env file to enable IPFS upload._
# Only required if your node creates tokens
NFT_STORAGE_API_KEY=

# If a key and certificate are specified, the HTTP servers for the client and admin will run over HTTPs
#HTTPS_KEY_OR_PASS=/demo/key.pem
#HTTPS_CERTIFICATE=/demo/cert.pem

# only if master node
MASTER_KEY=

TRANSFER_ON_WIN=true
REFUND_THREADS=20

# Mirror details
MIRROR_PROVIDER=hedera
MIRROR_QUERY_FREQUENCY=5000

REST_HEDERA_MAINNET=mainnet-public.mirrornode.hedera.com
REST_HEDERA_TESTNET=testnet.mirrornode.hedera.com
REST_HEDERA_PREVIEWNET=162.222.182.83
